<ion-view>
    <ion-header-bar class="bar bar-dark">
        <h1 class="title">Sign Up</h1>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="row">
            <div class="col text-center">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="First Name" />
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Last Name" />
                    </label>
                    <label class="item item-input">
                        <input type="email" placeholder="Email Address" />
                    </label>
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Country
                    </div>
                    <select ng-model="country" ng-init="country=countries[0]" ng-options="country.code+' '+country.dial_code for country in countries"></select>
                </label>
                <div class="list">
                    <label class="item item-input">
                        <input type="number" placeholder="Phone Number" />
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Password" />
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Re-Password" />
                    </label>
                </div>

                <input type="button" class="button button-dark" value="Submit" />
            </div>
        </div>
    </ion-content>
</ion-view>